.save-container{
    padding: 30px;
}
.container {
    .future{
        border: 1px dotted #00AFEF;
        padding: 40px;
        background: rgb(236, 235, 235);
        border-radius: 5px;
        font-weight: 500;
        text-align: center;

    }
    .text-area{
        display: block;
        border: 1px solid lightgray;
        width: 100%;
        border-radius: 5px;
    }
}
.btn {
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: 500;
    
    
}
.save{
    background: #00AFEF;
    ;
    color: white;

}
.close{
    background: none;
    border: 1px solid #00AFEF;
    color: #00AFEF;
    margin-top: 10px;

}
label{
    font-weight: 500;
    color: dimgray;
}
.container{

    margin-bottom: 10px;
}